@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* 
=================
    variables
=================
*/
:root {
  --clr-grey-1: #a3a3a3;
  --ff-primary: "Montserrat", sans-serif;
}

/* 
=================
    globals
=================
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  margin: 2rem;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 0.3fr));
  grid-gap: 2rem;
  justify-content: center;
}
.card {
  overflow: hidden;
  border: 1px solid black;
  box-shadow: 4px 4px var(--clr-grey-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 200ms ease-in, box-shadow 200ms ease-in;
  &:hover {
    border: 1px solid black;
    box-shadow: 8px 8px blue;
  }
  @keyframes arrow {
    0% {
      left: 0.5rem;
    }
    100% {
      left: 1.5rem;
    }
  }
  &:hover a::after {
    animation: arrow 1s ease-in-out infinite alternate;
  }
  img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
  }
  header {
    padding: 1rem;
  }
  .description {
    overflow: hidden;
    height: 110px;
    padding: 0 1rem 1rem 1rem;
  }
  .link {
    padding: 1rem;

    a {
      text-decoration: none;
      font-weight: bold;
      color: blue;
      &::after {
        content: "\f061";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: relative;
        left: 0.5rem;
      }
    }
  }
}
